@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Sono:wght@200..800&display=swap');

@media (prefers-color-scheme: dark) {
    body,a{
    background: #272727;
    color: whitesmoke;
    }
}
@media (prefers-color-scheme: light) {
    body,a{
    background: whitesmoke;
    color: #272727;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sono;
    text-transform: lowercase;
}

body {
    user-select: none;
}

body p{
    text-align: justify;
}



h1, h2, p, ul {
    text-align: left;
}

img{
    height: 25%;
    width: auto;
    display: block;
    border-radius: 10px;
}

h1.ratcore{
    font-size: 45px;
}

img.tambor {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blogton {
    font-size: 20px;
}

span.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.casque {
    padding: 18px 15px 15px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

div.casque p,h1,h2,a,li{
    color: b;
}

div.casquehead {
    width: 100%;
    height: auto;
}

div.casquehead h2 {
    padding-top: 10px;
    padding-bottom: 5px;
}

div.casquecont {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.opensexternally{
    font-size: 13px;
    opacity: 0.4;
    letter-spacing: -1px;
    text-decoration: none;
}
div.mastodon{
  width: 0;
  height: 0;
  }
div.mastodon a{
  visibility: hidden;
}
